html {
    --primary: #ff00a2;
}

body {
    padding: 0;
    margin: 0;
}

.App {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: Poppins, Helvetica, sans-serif;
    flex-direction: column;
    overflow: hidden;
}

a {
    color: #e50b9b;
}

.app-body {
    display: flex;
}

.app-footer {
    padding: 30px;
    text-align: center;
}

.content-wrapper {
    padding: 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content {
    box-sizing: border-box;
    white-space: pre-wrap;
}

.editor-wrapper {
    width: 360px;
    padding: 20px;
    overflow-y: auto;
    flex-shrink: 0;
}

@media all and (max-width: 1400px) {
    .editor-wrapper {
        width: 300px;
    }
}

pre {
    overflow: auto;
}

p {
    font-size: 14px;
    margin-top: 20px;
}