html {
    --primary: red;
}

body {
    padding: 0;
    margin: 0;
}

.App {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: Helvetica, sans-serif;
}

.content {
    padding: 30px;
    box-sizing: border-box;
    white-space: pre-wrap;
    flex: 1;
}

.editor-wrapper {
    width: 270px;
    padding: 20px;
    overflow-y: auto;
    flex-shrink: 0;
}